.env
/.idea
/node_modules
/dist/
/public/dist/*
/public/cart-dist/*
/runtime/*
/yarn-error.log
.DS_Store
/config.js
/instances
/public/**/*.br
/public/**/*.gz
/public/js/*
/public/css/*
/public/fonts/*
/public/main.css
/public/admin.css
/public/report.html
