.to-top-wrapper {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: $z-index-to-top;

	.general-content-subwrapper {
		position: relative;

		.to-top {
			background: #555;
			border-radius: 5px;
			bottom: 10px;
			color: #fff;
			cursor: pointer;
			opacity: 0.4;
			padding: 5px;
			position: absolute;
			right: 10px;
			text-decoration: none;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}
