@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('../../../assets/fonts/Ubuntu-Regular/Ubuntu-Regular.eot') format('eot'),
		url('../../../assets/fonts/Ubuntu-Regular/Ubuntu-Regular.woff2') format('woff2'),
		url('../../../assets/fonts/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'),
		url('../../../assets/fonts/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype'),
		url('../../../assets/fonts/Ubuntu-Regular/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url('../../../assets/fonts/Ubuntu-Medium/Ubuntu-Medium.eot') format('eot'),
		url('../../../assets/fonts/Ubuntu-Medium/Ubuntu-Medium.woff2') format('woff2'),
		url('../../../assets/fonts/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'),
		url('../../../assets/fonts/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'),
		url('../../../assets/fonts/Ubuntu-Medium/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url('../../../assets/fonts/Ubuntu-Bold/Ubuntu-Bold.eot') format('eot'),
		url('../../../assets/fonts/Ubuntu-Bold/Ubuntu-Bold.woff2') format('woff2'),
		url('../../../assets/fonts/Ubuntu-Bold/Ubuntu-Bold.woff') format('woff'),
		url('../../../assets/fonts/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype'),
		url('../../../assets/fonts/Ubuntu-Bold/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
}
