p Hello,

p.
	We were not able to charge your account - please update your payment information.

p
	strong Instance:
	=' '
	a(href="https://" + instanceInfo.primary_host target="_blank")
		!=instanceInfo.primary_host

div.text-center
	a.cta-btn(href="https://" + instanceInfo.primary_host + "/system/sellios/account/index") Pay now

p Thank you!