p Hello,

p Thank you for your payment!

p
	strong Amount:
	=' '
	='$' + amount

	br

	strong Instance:
	=' '
	a(href="https://" + instanceInfo.primary_host target="_blank")
		!=instanceInfo.primary_host

	br

	strong Instance paid till:
	=' '
	=instanceRow.paid_till

p Thank you for your business!