div(id="layout" data-layout=layout)
	div(id="logo-wrapper")
		a(href="https://sellios.ru", id="logo")
			img(src="https://stan-static.sellios.ru/themes/sellios/images/logo.png" width=137 height=59 alt="Sellios")

	div(id="content-wrapper")
		!=content

	div(id="footer")
		p(class="sign") Платформа для интернет магазина

		p(class="contacts")
			a(href="tel:+74991163230" class="phone")
				span
				="+7 499 116 32 30"
			a(href="skype:sellios.ru?call" class="skype")
				span
				="Skype: sellios.ru"

		div(class="clear")

		br

		div(class="text-center") *|REWARDS|*
		br
		div(class="text-center")
			a(href="*|UNSUB|*" style="color: #fff") Отписаться
